$purple: #341f97;
$red: #ee5253;
$dark: #222f3e;
$gray: #576574;
$green: #27ae60;

// $shadow: 10px 10px 20px rgba(0, 0, 0, 0.16);
$shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
