@import '../../assets/styles/variables';

.drop-zone {
    width: 300px;
    margin-top: 3rem;
    border-radius: 7;
    border-radius: 7px;
    background: transparent;
    border: 2px dashed $gray;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    p {
        color: #334456;
        letter-spacing: 0;
    }
}
