@import '../../assets/styles/variables';

.video {
    width: 100%;
    display: flex;
    justify-content: center;

    &__content-wrapper {
        position: relative;
    }

    &__content {
        min-height: 240px;
        box-shadow: $shadow;
    }

    &__download-button {
        position: absolute;
        width: 50px;
        height: 50px;
        top: 25px;
        right: 25px;
        background: $green;
        cursor: pointer;
        border-radius: 7px;
        opacity: 0;
        transition: opacity 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
        display: block;
        text-decoration: none;
        display: grid;
        place-items: center;
    }

    &__content-wrapper:hover &__download-button {
        opacity: 1;
    }

    &__download-icon {
        width: 30px;
        height: 30px;
        fill: white;
    }
}
