{
    "root": true,
    "env": {
        "browser": true,
        "commonjs": true,
        "es6": true
    },
    "extends": ["prettier", "plugin:prettier/recommended"],
    "plugins": ["prettier"],
    "globals": {
        "Atomics": "readonly",
        "SharedArrayBuffer": "readonly"
    },
    "parserOptions": {
        "ecmaVersion": 11
    },
    "rules": {
        "prettier/prettier": ["error", {}, { "usePrettierrc": true }],
        "indent": "off",
        "no-console": "off"
    }
}
